# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project Data (Vectors, Metadata, Uploads)
/data/
*.db
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.swp
.DS_Store
